# macOS
.DS_Store

# Python
__pycache__/
*.pyc
.venv/
.env
.env.*

# ML artifacts
backend/app/ml_artifacts/*.joblib

# Node / Next
node_modules/
frontend/.next/
frontend/.env.local

# IDE
.vscode/
.idea/
